<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.springcloud.dao.PaymentDao">

    <resultMap type="com.yu.springcloud.entity.Payment" id="PaymentMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="serial" column="serial" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 基本字段 -->
    <sql id="Base_Column_List">
        id, serial    </sql>

    <!-- 基本查询条件 -->
    <sql id="Column_Query">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="serial != null and serial != ''">
            and serial = #{serial}
        </if>
    </sql>

    <!--查询单个-->
    <select id="selectById" resultMap="PaymentMap">
        select
        <include refid="Base_Column_List"/>
        from
        payment
        where
        id = #{id}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectList" resultMap="PaymentMap">
        select
        <include refid="Base_Column_List"/>
        from
        payment
        <where>
            <include refid="Column_Query"/>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into payment(serial)
        values (#{serial})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update
        payment
        <set>
            <if test="serial != null and serial != ''">
                serial = #{serial},
            </if>
        </set>
        where
        id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from 
            payment 
        where 
            id = #{id}
    </delete>

    <!-- 查询总记录数 -->
    <select id="getTotal" resultType="java.lang.Integer">
        select count(1) from payment
        <where>
            <include refid="Column_Query"/>
        </where>
    </select>

</mapper>